/*====================================
        TABLETS
====================================*/

@media (max-width:992px){

header{

padding:18px 30px;

}

.hero{

grid-template-columns:1fr;
text-align:center;
padding:80px 30px;

}

.hero img{

width:100%;
max-width:450px;
margin:auto;

}

.hero-text h1{

font-size:55px;

}

.categorias{

grid-template-columns:repeat(2,1fr);

}

.productos-grid{

grid-template-columns:repeat(2,1fr);

}

.panel-carrito,
.panel-favoritos{

width:380px;

}

}


/*====================================
        CELULARES
====================================*/

@media (max-width:768px){

.menu{

position:fixed;
top:0;
right:-100%;
width:280px;
height:100vh;
background:#111;
display:flex;
flex-direction:column;
padding:90px 30px;
transition:.4s;
z-index:999;

}

.menu.activo{

right:0;

}

.menu li{

margin:18px 0;

}

.menu-btn{

display:flex;

}

.hero{

padding:50px 20px;

}

.hero h1{

font-size:42px;
line-height:1.1;

}

.hero p{

font-size:17px;

}

.hero img{

max-width:320px;

}

.botones{

display:flex;
flex-direction:column;
gap:15px;

}

.botones a{

width:100%;
text-align:center;

}

.categorias{

grid-template-columns:1fr;

}

.productos-grid{

grid-template-columns:1fr;

}

.panel-carrito,
.panel-favoritos{

width:100%;

}

.footer{

grid-template-columns:1fr;

text-align:center;

}

}


/*====================================
        MÓVILES PEQUEÑOS
====================================*/

@media(max-width:480px){

.logo{

font-size:26px;

}

.hero h1{

font-size:34px;

}

.hero p{

font-size:15px;

}

.titulo{

font-size:30px;

}

.product{

padding:15px;

}

.product img{

height:180px;

}

.product h3{

font-size:18px;

}

.product p{

font-size:20px;

}

.btn{

padding:14px 20px;

font-size:15px;

}

header{

padding:15px;

}

.panel-header{

padding:18px;

}

.panel-footer{

padding:18px;

}

.toast{

left:15px;
right:15px;
bottom:20px;
width:auto;

}

.go-top{

width:50px;
height:50px;
right:15px;
bottom:15px;

}

}


/*====================================
      PANTALLAS GRANDES
====================================*/

@media(min-width:1600px){

.container{

max-width:1500px;
margin:auto;

}

.hero{

min-height:95vh;

}

.hero h1{

font-size:90px;

}

.productos-grid{

grid-template-columns:repeat(5,1fr);

}

}


/*====================================
      ANIMACIONES
====================================*/

@media(prefers-reduced-motion:reduce){

*{

animation:none !important;
transition:none !important;
scroll-behavior:auto;

}

}